<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DBCS" connectionString="Data Source=LAPTOP-PRG4FGV9;Initial Catalog=ViLibrary;Persist Security Info=True;User ID=sa;Password=25072003;Trust Server Certificate=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	
</configuration>